<section class="detail">
  <a class="detail__back" href='./' title='go back'>
    <img src="./" alt='Foto esta'>
  </a>
  <main class="detail__container">
    <div class="detail__container--feat">
      <i class="fas fa-medal uppercase detail__container--feat__icon"></i>
      <small class="uppercase">New Release</small>
    </div>
    <h1 class="detail__title">titulo</h1>
    <div class="detail__priceContainer">
      <p class="detail__priceContainer--price">precio</p>
      <button class="detail__priceContainer--btn">Install Game</button>
    </div>
    <div class="detail__infoContainer">
      <img src="../../assets/images/god-of-war-detail.png" alt='god of war photo' />
      <p>descripci'on</p>
    </div>
  </main>
</section>