/* You can add global styles to this file, and also import other style files */
/* @import './assets/variables.scss';

@import './app/game-item/game-item.component.scss'; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}